<div class="container">
    <div class="profile">
        <div class="row">
            <div class=" col-md-6" id="pad">
                <img src="./assets/image/menu.png" style="width: 50px;">
                <br>
                <h1 class="padd">Jana</h1>
                <h1>Novakova</h1>
                <br>

                <div class="w3-dark-#283252  w3-round-xlarge bar">
                    <div class="w3-container w3-blue w3-round-xlarge progress_bar"></div>
                </div>
            </div>
            <div class="col-md-6 ">
                <a href="#" routerLink="/"><img class="back_button" src="./assets/image/back.png"></a>
            </div>
            <div class="goal57">
                <h3>57% of goals</h3></div>
        </div>
    </div>

    <div class="grid">

        <div class="row segment">

            <div class="col-md-4 grid_1">
                <h2>22</h2>
                <p>Age</p>

            </div>
            <div class="col-md-4 grid_1">
                <h2>A</h2>
                <p>Blood .t</p>
            </div>
            <div class="col-md-4">
                <h2>20.4</h2>
                <p>BMI</p>

            </div>

        </div>
        <div class="row">
            <div class="col-md-4 grid_1">
                <h2>172 cm</h2>
                <p>Height</p>

            </div>
            <div class="col-md-4 grid_1">
                <a href="#" routerLink="/weight">
                    <h2>53 kg</h2>
                    <p>Weight</p>
                </a>
            </div>
            <div class="col-md-4">
                <h2>21%</h2>
                <p>Fat</p>

            </div>
        </div>

    </div>
    <div class="content">
        <br>
        <span>YOUR GOALS</span>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <span>Lose Weight </span>
            </div>
            <div class="col-md-6">
                <p id="meter">4.6 kg/8 kg </p>
            </div>

        </div>
        <br>
        <div class="container">
            <div class="w3-dark-grey w3-round-xlarge bar_0">
                <div class="w3-container w3-white w3-round-xlarge" style=" height:2px;width:53%" align="center"></div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-6">
                <span>Running per week </span>
            </div>
            <div class="col-md-6">
                <p id="meter">8.2/10km </p>
            </div>

        </div>
        <br>

        <div class="container">
            <div class="w3-dark-grey w3-round-xlarge bar_0">
                <div class="w3-container w3-white w3-round-xlarge" style=" height:2px;width:90%" align="center"></div>
            </div>
            <br>
        </div>
        <br>

        <div class="row">
            <div class="col-md-6">
                <span>Steps per day </span>
            </div>
            <div class="col-md-6">
                <p id="meter">3342/10000 </p>
            </div>

        </div>

        <br>
        <div class="container">
            <div class="w3-dark-grey w3-round-xlarge bar_0">
                <div class="w3-container w3-white w3-round-xlarge" style=" height:2px;width:43%" align="center"></div>
            </div>
            <br>

        </div>
    </div>
</div>